# AI Jobs dataset (from index page, scraping all jobs with urls)

### 1. Libraries

In [12]:
import csv

In [14]:
import pandas as pd

In [8]:
import time
from tqdm.auto import tqdm

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver import FirefoxOptions

In [2]:
opts = FirefoxOptions()
opts.add_argument('--headless')
browser = webdriver.Firefox(options=opts)

In [6]:
from selenium.webdriver.common.by import By

In [9]:
from selenium.common.exceptions import NoSuchElementException

### 2. Entering ai-jobs.net

In [3]:
URL = 'https://ai-jobs.net'
browser.get(URL)

### 3. Open all vacancies through clicking "Load more" button

In [4]:
import time
import random

In [5]:
counter = 1
while counter < 38: 
    try:
        browser.find_element('link text', "Load more").click()
        print('click', counter)
        counter += 1
        time.sleep(random.randint(1, 3)+random.random())
    except Exception as e:
        print(e)
        break

click 1
click 2
click 3
click 4
click 5
click 6
click 7
click 8
click 9
click 10
click 11
click 12
click 13
click 14
click 15
click 16
click 17
click 18
click 19
click 20
click 21
click 22
click 23
click 24
click 25
click 26
click 27
click 28
click 29
click 30
click 31
click 32
click 33
click 34
click 35
click 36
click 37

In [7]:
jobs = browser.find_elements(By.XPATH, "//a[@class='col list-group-item-action px-2 py-3']")

In [10]:
len(jobs)

3754

### 4. Scraping in chunks

In [20]:
all_jobs3 = []
for job in tqdm(jobs[2000:]):
    time.sleep(.5)
    
    job_dict = {}
    job_dict['url'] = job.get_attribute(name='href')
    

    
    job_dict['title'] = job.get_attribute(name='title')
    

    
    try:
        job_dict['location'] = job.find_element(
            By.XPATH, ".//span[@class='d-none d-md-block text-break job-list-item-location']"
        ).text
    except NoSuchElementException:
        job_dict['location'] = None
    

    
    try:
        job_dict['type'] = job.find_element(
            By.XPATH, 
            ".//span[@class='badge badge-secondary badge-pill my-md-1']"
        ).text
    except NoSuchElementException:
        job_dict['type'] = None
    

    
    try:    
        job_dict['level'] = job.find_element(
            By.XPATH, 
            ".//span[@class='badge badge-info badge-pill my-md-1 d-none d-md-inline-block']").text
    except NoSuchElementException:
        job_dict['level'] = None
    

    
    try:
        job_dict['salary_range'] = job.find_element(
            By.XPATH, 
            ".//span[@class='badge badge-success badge-pill d-none d-md-inline-block']").text
    except NoSuchElementException:
        job_dict['salary_range'] = None
    

        
    try:
        job_dict['salary'] = job.find_element(
            By.XPATH, 
            ".//span[@class='badge badge-success badge-pill d-md-none']"
        ).text
    except NoSuchElementException:
        job_dict['salary'] = None
    

    
    try:
        job_dict['company'] = job.find_element(
            By.XPATH, 
            ".//p[@class='m-0 text-muted job-list-item-company']"
        ).text
    except NoSuchElementException:
        job_dict['company'] = None

    all_jobs3.append(job_dict)

  0%|          | 0/1754 [00:00<?, ?it/s]

### 5. Writing chunks to CSVs

In [21]:
with open('aijobs3.csv','w') as f:
    w = csv.DictWriter(f, job_dict.keys())
    w.writerows(all_jobs3)
    f.close()

### 6. Merging all vacancies

In [22]:
all_filenames = ['aijobs1.csv', 'aijobs2.csv', 'aijobs3.csv']

In [25]:
aijobs1 = pd.read_csv("aijobs1.csv", header=None)

In [26]:
aijobs2 = pd.read_csv("aijobs2.csv", header=None)

In [31]:
aijobs3 = pd.read_csv("aijobs3.csv", header=None)

In [41]:
concat = pd.concat([aijobs1, aijobs2, aijobs3], ignore_index=True)

In [42]:
concat

,0,1,2,3,4,5,6,7
0,https://ai-jobs.net/job/32218-data-science-con...,View full details of `Data Science Content Int...,Remote,Internship,Entry-level,USD 9K - 11K,NaN,NannyML
1,https://ai-jobs.net/job/32029-python-php-senio...,View full details of `Python / PHP Senior Deve...,"Remote, EU",Full Time,Senior-level,EUR 65K - 80K,NaN,Beatopia
2,https://ai-jobs.net/job/30723-data-scientist-r...,View full details of `Data Scientist - Researc...,"Remote, Hybrid Available (Chicago)",Full Time,Senior-level,USD 55K - 120K,NaN,"HFR, Inc."
3,https://ai-jobs.net/job/30166-postdoctoral-res...,View full details of `Postdoctoral Research As...,"Oak Ridge, TN, United States",Temporary,Mid-level,NaN,NaN,Oak Ridge National Laboratory
4,https://ai-jobs.net/job/30091-data-science-and...,View full details of `Data Science and Machine...,Remote- USA,Full Time,Senior-level,USD 150K - 200K,NaN,Libertas Funding
...,...,...,...,...,...,...,...,...
3749,https://ai-jobs.net/job/29203-fleet-data-manag...,View full details of `Fleet Data Manager SME` ...,"San Diego, California, United States",Full Time,Mid-level,NaN,NaN,Sigma Defense
3750,https://ai-jobs.net/job/29185-job-8581-data-en...,View full details of `[Job- 8581] Data Enginee...,Brazil,Full Time,Senior-level,USD 76K - 150K *,NaN,CI&T
3751,https://ai-jobs.net/job/29144-research-scienti...,View full details of `Research Scientist in ML...,Remote Hybrid,Full Time,Senior-level,USD 56K - 96K *,NaN,The Allen Institute for AI
3752,https://ai-jobs.net/job/29133-software-enginee...,View full details of `Software Engineer - Mark...,"London, England, United Kingdom",Full Time,Mid-level,NaN,NaN,TradingHub
3753,https://ai-jobs.net/job/29195-quality-assuranc...,View full details of `Quality Assurance Engine...,Singapore,Internship,Senior-level,NaN,NaN,Binance

In [43]:
concat.rename(columns={0: 'url', 1: 'title', 2: 'location', 3: 'type', 4: 'level', 5: 'salaryRange', 6: 'salary', 7: 'company'}, inplace=True)

In [44]:
concat

,url,title,location,type,level,salaryRange,salary,company
0,https://ai-jobs.net/job/32218-data-science-con...,View full details of `Data Science Content Int...,Remote,Internship,Entry-level,USD 9K - 11K,NaN,NannyML
1,https://ai-jobs.net/job/32029-python-php-senio...,View full details of `Python / PHP Senior Deve...,"Remote, EU",Full Time,Senior-level,EUR 65K - 80K,NaN,Beatopia
2,https://ai-jobs.net/job/30723-data-scientist-r...,View full details of `Data Scientist - Researc...,"Remote, Hybrid Available (Chicago)",Full Time,Senior-level,USD 55K - 120K,NaN,"HFR, Inc."
3,https://ai-jobs.net/job/30166-postdoctoral-res...,View full details of `Postdoctoral Research As...,"Oak Ridge, TN, United States",Temporary,Mid-level,NaN,NaN,Oak Ridge National Laboratory
4,https://ai-jobs.net/job/30091-data-science-and...,View full details of `Data Science and Machine...,Remote- USA,Full Time,Senior-level,USD 150K - 200K,NaN,Libertas Funding
...,...,...,...,...,...,...,...,...
3749,https://ai-jobs.net/job/29203-fleet-data-manag...,View full details of `Fleet Data Manager SME` ...,"San Diego, California, United States",Full Time,Mid-level,NaN,NaN,Sigma Defense
3750,https://ai-jobs.net/job/29185-job-8581-data-en...,View full details of `[Job- 8581] Data Enginee...,Brazil,Full Time,Senior-level,USD 76K - 150K *,NaN,CI&T
3751,https://ai-jobs.net/job/29144-research-scienti...,View full details of `Research Scientist in ML...,Remote Hybrid,Full Time,Senior-level,USD 56K - 96K *,NaN,The Allen Institute for AI
3752,https://ai-jobs.net/job/29133-software-enginee...,View full details of `Software Engineer - Mark...,"London, England, United Kingdom",Full Time,Mid-level,NaN,NaN,TradingHub
3753,https://ai-jobs.net/job/29195-quality-assuranc...,View full details of `Quality Assurance Engine...,Singapore,Internship,Senior-level,NaN,NaN,Binance

In [40]:
concat.to_csv('aijobs_all.csv')